*{
    box-sizing: border-box;
}
body {
    background-color: #eee;
    overflow-x: hidden;
  }
div#root {
    position: relative;
    top: -2.5vw;
    left: -1vw;
}
  
.header{
    background: #ffb700;
    color:#ece5d4;
    font-family: McLaren, cursive;
    font-weight:600;
    padding: 1.25rem 1.25rem 1.25rem 2rem;
    display:block;
    width:105vw;
}
main {
    position: relative;
    left: 3vw;
}
.note-text {
    display:flex;
    flex-direction: column;
    width: max(3rem, vw);
    max-width: 70vw;
    padding: 0 5%;
}
.note-text textarea {
    resize:none;
}
.note-content textarea { 
    resize: vertical;
}
.note-btns {
    display: flex;
    justify-content: space-between;
}
.note-cards {
    display:grid;
    grid-template-columns: repeat(4, 20vw);
    gap: 1vh;
}
.note-card {
    display:inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    border-radius: 5pt;
    overflow-y: hidden; 
    margin: 2rem 4rem;
}
.note-title {
    color: #cd8924;
    background-color: #ece5d4;
    padding:10px;
    margin:0;
    display: flex;
    justify-content: space-between;
}
.last-update-time {
    display: flex;
    flex-flow: column;
    color: #f98e1c;
}
.note-card .card-btns {
    display: flex;
    justify-content: space-between;
    margin: 5px 5%;
}
footer {
    width: 100%;
    height:2rem;
    color:#7b7979;
    text-align: center;
}